{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans le home</h1>

{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex exercitationem cum eum dignissimos reprehenderit eligendi molestias incidunt dolorem. Impedit harum doloribus expedita perferendis. Vero obcaecati deserunt, blanditiis molestiae dicta alias natus dignissimos impedit! Aliquam at quos ipsam neque et quasi?</p>
<p>Unde voluptate dolorem laboriosam, consequatur voluptatibus quibusdam ipsum laudantium, eos iusto recusandae error numquam cupiditate quis temporibus corrupti distinctio suscipit ex, rem assumenda impedit sequi id ab? In modi nesciunt quasi reprehenderit fuga minus optio provident. Corrupti nostrum odio dignissimos.</p>

{% endblock %}